/*RESET*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
}

html,body,div,span,applet,object,
iframe,h2,h3,h4,h5,
h6,p,blockquote,
pre,a,
abbr,acronym,
address,big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background-color: var(--main-color-black);

    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-60);
}
/*END RESET*/

/*VARIABLES*/
:root {
    --main-font: "Cinzel Decorative", serif;
    --second-font: "Lora", serif;
    /* FUENTE PRINCIPAL DE LA PAGINA */
    --main-font-weight: 700;
    /* PESO PRINCIPAL DE CARACTERES */
    --main-font-size: 16px;
    /* TAMAÑO PRINCIPAL DE CARACTERES */
    --main-color-60: #2B1736;
    /* MAIN COLOR 60 */
    --main-color-30: #B49B5E;
    /* MAIN COLOR 30 */
    --main-color-10: white;
    /* MAIN COLOR 10 */
    --main-border: 1px solid transparent;
    /* BORDE GENERAL PARA ELEMENTOS */
}

/*END VARIABLES*/

/*HEADER*/
#logo {
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 2rem;
}
header {
    width: 100vw;
    height: fit-content;

    background-color: black;
    color: var(--main-color-30);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 600;
    
    border-bottom: 2px solid black;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
}
#menu-header {
    width: 100%;
    max-width: 2000px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    padding: 1em 2em;
}
#menu-header .menu__burger {
    display: flex;
    flex-flow: row;
    gap: 1em;
}

.menu__burger-links {
    display: flex;
    flex-flow: row;
    gap: 1em;
}

.menu__burger-links li {
    cursor: pointer;
    padding: .5em 1em;
    border-radius: 20px;
    transition: all .3s ease;
}
.menu__burger-links li:hover {
    background-color: var(--main-color-30);
    color: black;
}

.menu__burger-icon {
    display: none;
}

/*MAIN*/
h1 {
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: var(--main-font-weight);

    text-align: center;
}
h2 {
    font-family: var(--main-font);
    font-size: 2.5rem;
    font-weight: var(--main-font-weight);
    text-align: center;
}
p {
    font-family: var(--second-font);
    font-size: 1.2rem;
    font-weight: 400;

    text-align: center;
}
main {
    width: 100vw;
    margin-top: 3em;

    display: flex;
    flex-flow: column;
    align-items: center;

    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

/* BROWSER */
#card-display.hidden {
    display: none;
}
#card-display.active {
    margin-top: 100px;
    width: 100%;
    max-width: 1500px;

    display: flex;
    flex-flow: column;
    align-items: center;

    color: var(--main-color-30);
    font-size: 300px;
}
#card-display img {
    max-width: 200px;
    height: auto;
}


/*OPCIONES TIRADAS*/
#option-buttons {
    min-height: 80vh;
    width: 100%;
    max-width: 2000px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em 10%;
    
    color: var(--main-color-30);
}
#option-buttons .buttons {
    width: 100vw;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
#option-buttons.hidden {
    display: none;
}
#option-buttons button {
    width: 100%;
    max-width: 300px;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 600;

    background-color: var(--main-color-30);
    border: 2px solid black;
    color: black;

    border-radius: 20px;
    padding: .5em 1em;

    cursor: pointer;

    transition: all .3s ease;
}
#option-buttons button:hover {
    background-color: black;
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
    scale: 110%;
}
/*FORMULARIOS*/
.hidden {
    display: none;
}

#option1.active, #option2.active, #option3.active {
    width: 80%;
    max-width: 1500px;

    display: flex;
    flex-flow: column;
    gap: 1em;

    padding: 1em;

    background-color: black;
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
    border-radius: 20px;

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#option1__form, #option2__form, #option3__form {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

#option1__form-questions, #option2__form-questions, #option3__form-questions {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
    gap: .5em;
}
#option1__form-questions input, #option2__form-questions input, #option3__form-questions input, 
#option1__form-questions select, #option2__form-questions select, #option3__form-questions select {
    width: 100%;
    max-width: 200px;

    background-color: black;
    border: 2px solid var(--main-color-30);
    color: var(--main-color-30);
    border-radius: 20px;

    font-family: var(--second-font);
    font-size: 1rem;
    padding: .5em 1em;
}
.option1__submit, .option2__submit, .option3__submit {
    background-color: var(--main-color-30);
    border: 2px solid black;
    color: black;
    border-radius: 20px;

    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: var(--main-font-weight);
    padding: .5em 1em;

    transition: all .3s ease;
}
.option1__submit:hover, .option2__submit:hover, .option3__submit:hover {
    background-color: black;
    border: 2px solid var(--main-color-30);
    color: var(--main-color-30);
}

.close-button {
    position: absolute;
    right: 1em;
    top: 1em;

    width: 3em;
    height: 3em;

    background-color: var(--main-color-30);
    color: black;
    border: 2px solid black;
    border-radius: 100%;

    cursor: pointer;

    transition: all .3s ease;
}
.close-button:hover {
    background-color: black;
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    z-index: 1;
}

/*CARD*/
#option-result {
    width: 100%;
    max-width: 2000px;
    color: var(--main-color-30);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 3em 10%;

    position: relative;

    z-index: 0;
}
#option-result.hidden {
    display: none;
}
.cards {
    width: 100%;
    max-width: 2000px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    gap: 1em;
    padding: 1em;
}
.card {
    width: 100%;
    max-width: 250px;

    display: flex;
    flex-flow: row;
    gap: 1em;

    background-color: black;

    border: 2px solid var(--main-color-30);
    border-radius: 20px;
    padding: 1em;

    position: relative;
}

.card-img {
    width: 100%;
    height: auto;

    object-fit: contain;

    border: 2px solid var(--main-color-30);
    border-radius: 10px;

    transition: opacity 0.8s ease-in-out;
}

.card-text.hidden {
    display: none;
}
.card-text.active {
    width: 100%;
    padding: 1em 10%;

    display: flex;
    flex-flow: column;
    gap: 1em;

    color: var(--main-color-30);
}
.card-text.active .card-title {
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: var(--main-font-weight);

    text-align: center;
}
.card-text.active .card-description {
    font-size: 1.2rem;
    text-align: center;

    transition: opacity 0.8s ease-out;
}


/* INSTRUCTIONS */
#instructions.hidden {
    display: none;
}
#instructions {
    width: 100%;
    max-width: 2000px;

    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    gap: 2em;

    padding: 2em 10%;

    color: var(--main-color-30);
}

/* CONTACT */
#contact.hidden {
    display: none;
}

#contact.active {
    width: 100%;
    max-width: 2000px;
    min-height: 85vh;

    margin: 3em 10% 0;
    padding: 2em;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

    color: var(--main-color-30);
}

.contact__form-section {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;

    padding: 0 10%;
}

#contact__form {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3em;

    background-color: black;
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
    border-radius: 20px;
    padding: 3em;
}

#contact__form .contact__form-questions {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    gap: .5em;
}

.form-questions-select {
    display: flex;
    flex-flow: column;
    gap: 1em;
}
.contact__form-questions input, .form-questions-select select {
    background-color: black;
    border: 2px solid var(--main-color-30);
    border-radius: 20px;
    color: var(--main-color-30);
    font-family: var(--second-font);
    font-size: 1rem;
    padding: .5em 1em;
}

.contact__form-submit, .contact-date-delete {
    background-color: var(--main-color-30);
    color: black;
    border: 2px solid black;
    border-radius: 15px;

    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 1rem;

    padding: .5em 1em;

    transition: all .3s ease;
}
.contact__form-submit:hover, .contact-date-delete:hover {
    background-color: black;
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
}

.contact__dates {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.contact__dates-cards {
    width: 100%;
    max-width: 1500px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
}
.contact-date {
    background-color: black;
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
    border-radius: 20px;

    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2em;
}

/*FOOTER*/
footer {
    width: 100vw;

    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: black;
    color: var(--main-color-30);
}


/* MEDIA */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    
    .menu__burger {
        display: block;
        position: relative;
    }

    .menu__burger-icon {
        display: flex;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    /* Ocultar los enlaces inicialmente */
    .menu__burger-links {
        display: none;
        position: absolute;
        right: 0;
        top: 40px;
        background: black;
        color: var(--main-color-30);
        padding: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    }

    /* Mostrar los enlaces cuando el menú está activo */
    .menu__burger-links.active {
        display: flex;
        font-size: .8rem;
    }



    #option-buttons .buttons {
        flex-flow: column;
    }
    
    #option1__form, #option2__form, #option3__form {
        gap: 4em;
    }
    #option1__form-questions, #option2__form-questions, #option3__form-questions {
        flex-flow: column;
        align-items: center;
        text-align: center;
    }


    .card {
        max-width: 100px;
    }

    #contact__form .contact__form-questions {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }
    #contact__form .contact__form-questions input, #contact__form .contact__form-questions select {
        width: 100%;
    }
}